{% load static %}

<!DOCTYPE html>
<html>
{% if user.is_authenticated %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>Dental Therapists' Registration Board Of Nigeria</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap.min.css" integrity="sha512-BMbq2It2D3J17/C7aRklzOODG1IQ3+MHw3ifzBHMBwGO/0yUqYmsStgBjI0z5EYlaDEFnvYV7gNYdD3vFLRKsA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.jqueryui.min.css" integrity="sha512-x2AeaPQ8YOMtmWeicVYULhggwMf73vuodGL7GwzRyrPDjOUSABKU7Rw9c3WNFRua9/BvX/ED1IK3VTSsISF6TQ==" crossorigin="anonymous" />


    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script>

    <!-- Bootstrap Core Css -->

    <link href="{% static 'general/plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{% static 'general/plugins/node-waves/waves.css' %}" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="{% static 'general/plugins/animate-css/animate.css' %}" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="{% static 'general/plugins/morrisjs/morris.css' %}" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="{% static 'general/css/style.css' %}" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="{% static 'general/css/themes/all-themes.css' %}" rel="stylesheet" />
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle">mud</div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle">moddle</div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>

    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="index.html"><b>{{user.username|upper|truncatechars:100}}</b></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">


                    <!-- #END# Tasks -->
                    <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                   <div class="image">
                    {% if school_data.sch_logo %}
                        <img src="{{school_data.sch_logo.url}}" width=48 height="50" alt="User" style="border: 0px solid #efefef; border-radius: 100%"/>
                    {% elif school_data.sch_logo is none %}
                        <img src="{% static 'general/images/user.png' %}" width="50" height="48" alt="User" style="border: 0px solid #efefef; border-radius: 100%"/>
                    {% endif %}
                    
                    </div>
                    <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <b>{{user.code|upper}}</b></div>
                    <div class="email"><b>{{user.email|lower}}</b></div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            {% if user.profile_update %}
                                <li><a href="{% url 'schoolPortal:update' user.id %}"><i class="material-icons">person</i>Update Profile</a></li>
                                <li role="separator" class="divider"></li>
                            {% else %}
                                <li><a href="{% url 'schoolPortal:schoolProfile' %}"><i class="material-icons">person</i>Update Profile</a></li>
                                <li role="separator" class="divider"></li>
                            {% endif %}
                            <li><a href="{% url 'Auth:sch_pwd_reset' %}"><i class="material-icons">input</i>Change Password</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href='{% url "Auth:logout" %}'><i class="material-icons">input</i>Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    
                    <li class="">
                        <a href="{% url 'schoolPortal:dashboard' %}" >
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    {% if 'create_ticket' in request.path or 'all_ticket' in request.path or 'answered_ticket' in request.path or 'closed_ticket' in request.path %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                    
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">email</i>
                            <span> Ticket</span>
                        </a>
                        <ul class="ml-menu">
                            {% if 'create_ticket' in request.path %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{% url 'schoolPortal:create_ticket' %}">
                                    <span>Open Ticket</span>
                                </a>
                            </li>
                            {% if 'all_ticket' in request.path %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{% url 'schoolPortal:all_ticket' %}">
                                    <span>All Ticket</span>
                                </a>
                            </li>
                            {% if 'answered_ticket' in request.path %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{% url 'schoolPortal:answered_ticket' %}">
                                    <span> Answered Ticket</span>
                                </a>
                            </li>
                            {% if 'closed_ticket' in request.path %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{% url 'schoolPortal:closed_ticket' %}">
                                    <span>Closed Ticket</span>
                                </a>
                            </li>
                            
                        </ul>
                    </li>

                    {% if 'current_index' in request.path or 'new_indexing' in request.path or 'indexed_record' in request.path or 'approved_student' in request.path  or 'unaproved_student' in request.path %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">email</i>
                            <span> Indexing</span>
                        </a>
                        <ul class="ml-menu">
                            {% if 'new_indexing' in request.path %}
                                <li class="active">
                            {% else %}
                                <li>
                            {% endif %}
                                {% if index_access.close_index_reg is False %}
                                <a href="{% url 'schoolPortal:new_indexing' %}">
                                    <i class="material-icons">create_new_folder</i>
                                    <span>New Indexing</span>
                                </a>
                              {% else %}
                                <a href="" id="closed" onclick="closed_alert()">
                                    <i class="material-icons">create_new_folder</i>
                                    <span>New Indexing</span>
                                </a>
                               {% endif %}
                            </li>

                            {% if 'current_index' in request.path %}
                                <li class="active">
                            {% else %}
                                <li>
                            {% endif %}
                                <a href="{% url 'schoolPortal:currentIndex' year='2022-2023' %}">
                                    <i class="material-icons">folder_open</i>
                                    <span>Current Indexing</span>
                                </a>
        
                            </li>
                            
                            {% if 'indexed_record' in request.path %}
                                <li class="active">
                            {% else %}
                                <li>
                            {% endif %}
                                <a href="{% url 'schoolPortal:indexed_record' year='2022-2023' %}">
                                    <i class="material-icons">folder</i>
                                    <span>Submitted Index Record</span>
                                </a>
        
                            </li>
                           
                            {% if 'approved_student' in request.path %}
                                <li class="active">
                            {% else %}
                                <li>
                            {% endif %}
                                    <a href="{% url 'schoolPortal:approved_student' year='2022-2023' %} ">
                                        <i class="material-icons">offline_pin</i>
                                        <span>Approved Index Record</span>
                                    </a>
            
                                </li>
                            {% if 'unaproved_student' in request.path %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{% url 'schoolPortal:unapproved_student' year='2022-2023' %} ">
                                    <i class="material-icons">cancel</i>
                                    <span>Declined Index  Record</span>
                                </a>
        
                            </li>
                        </ul>
                           
                    </li>
                   
                    {% if 'current_exam_record' in request.path or 'submitted_exam_record' in request.path or 'approved_exam_record' in request.path or 'declined_exam_record' in request.path  or 'exam_reg' in request.path %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                    
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">create_new_folder </i>
                            <span> Examination</span>
                        </a>
                      
                        <ul class="ml-menu">
                            {% if 'exam_reg' in request.path %}
                                <li class="active">
                            {% else %}
                                <li>
                            {% endif %}
                                {% if index_access.close_exam_reg is False %}
                                    <a href="{% url 'schoolPortal:exam_reg' %}">
                                        <i class="material-icons">create_new_folder</i>
                                        <span>New Exam Reg </span>
                                    </a>
                                {% else %}
                                    <a href="" id="closed" onclick="closed_alert()">
                                        <i class="material-icons">create_new_folder</i>
                                        <span>New Exam Registration</span>
                                    </a>
                               {% endif %}
        
                            </li>
                            {% if 'current_exam_record' in request.path %}
                                <li class="active">
                            {% else %}
                                <li>
                            {% endif %}
                                    <a href="{% url 'schoolPortal:current_exam_record' year='2022-2023' %} ">
                                        <i class="material-icons">folder_open</i>
                                        <span>Exam Record (Current)</span>
                                    </a>
                                  
                                </li>
                              
                            {% if 'submitted_exam_record' in request.path %}
                            <li class="active">
                            {% else %}
                                <li>
                            {% endif %}
                                <a href="{% url 'schoolPortal:submitted_exam_record' year='2022-2023' %}">
                                    <i class="material-icons">folder</i>
                                    <span>Exam Record (Submitted)</span>
                                </a>
                            </li>
                            
                            {% if 'approved_exam_record' in request.path %}
                            <li class="active">
                            {% else %}
                                <li>
                            {% endif %}
                                <a href="{% url 'schoolPortal:approved_exam_record' year='2022-2023' %} ">
                                    <i class="material-icons">offline_pin</i>
                                    <span>Exam Record (Approved)</span>
                                </a>
                            </li>
                            
                            {% if 'declined_exam_record' in request.path %}
                            <li class="active">
                            {% else %}
                                <li>
                            {% endif %}
                                <a href="{% url 'schoolPortal:declined_exam_record' year='2022-2023' %}">
                                    <i class="material-icons">cancel</i>
                                    <span>Exam Record (Declined)</span>
                                </a>
                            </li>
                        </ul>
                   


                    <li>
                        <a href="javascript:void(0);" >
                            <i class="material-icons">date_range</i>
                            <span>Events</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; {{current_year}} <a href="javascript:void(0);"> Dental Therapists' Registration Board Of Nigeria</a>.
                </div>
                <!-- <div class="version">
                    <b>Version: </b> 1.0.5
                </div> -->
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->

        {% block body %}

        {% endblock %}


{% endif %}
         <!-- Jquery Core Js -->
    <script src="{% static 'general/plugins/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{% static 'general/plugins/bootstrap/js/bootstrap.js' %}"></script>

    <!-- Select Plugin Js -->
    <script src="{% static 'general/plugins/bootstrap-select/js/bootstrap-select.js' %x}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="{% static 'general/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{% static 'general/plugins/node-waves/waves.js' %}"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="{% static 'general/plugins/jquery-countto/jquery.countTo.js' %}"></script>

    <!-- Morris Plugin Js -->
    <script src="{% static 'general/plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'general/plugins/morrisjs/morris.js' %}"></script>

    <!-- ChartJs -->
    <script src="{% static 'general/plugins/chartjs/Chart.bundle.js' %}"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="{% static 'general/plugins/flot-charts/jquery.flot.js' %}"></script>
    <script src="{% static 'general/plugins/flot-charts/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'general/plugins/flot-charts/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'general/plugins/flot-charts/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'general/plugins/flot-charts/jquery.flot.time.js' %}"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="{% static 'general/plugins/jquery-sparkline/jquery.sparkline.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'general/js/admin.js' %}"></script>
    <script src="{% static 'general/js/pages/index.js' %}"></script>

    <!-- Demo Js -->
    <script src="{% static 'general/js/demo.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js" integrity="sha256-2RS1U6UNZdLS0Bc9z2vsvV4yLIbJNKxyA4mrx5uossk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous"></script>
    

    <script>
        var table = $('table').DataTable({
         
        });
    </script>

    <script>  
      function closed_alert(){
          alert("Sorry! Exam Registeration Has Been Closed")
        //   location.reload();
      }
        $("#id_residential_country").change(function (){
            var url = $("#reg_form").attr("data-cities-url");
            var countryId = $(this).val();
            console.log(countryId)

            $.ajax({
                
                url: url,
                data: {
                    'residential_country':countryId
                },
               
                success: function (data) {
                    $("#id_residential_state").html(data);
                }
                
            });
        });


        $("#id_office_country").change(function (){
            var url = $("#reg_form").attr("data-office-url");
            var countryId = $(this).val();
            console.log(countryId)

            $.ajax({
                
                url: url,
                data: {
                    'office_country':countryId
                },
               
                success: function (data) {
                    $("#id_office_state").html(data);
                }
                
            });
        });


        
 $("#id_residential_state").change(function (){
            var url = $("#reg_form").attr("data-lga-url");
            var regionId = $(this).val();
            console.log(regionId)

            $.ajax({
                
                url: url,
                data: {
                    'residential_state':regionId
                },
               
                success: function (data) {
                    $("#id_residential_lga").html(data);
                }
                
            });
        });


        $("#id_office_state").change(function (){
            var url = $("#reg_form").attr("data-officelga-url");
            var regionId = $(this).val();
            console.log(regionId)

            $.ajax({
                
                url: url,
                data: {
                    'office_state':regionId
                },
               
                success: function (data) {
                    $("#id_office_lga").html(data);
                }
                
            });
        });


        $("#id_state_of_origin").change(function (){
            var url = $("#reg_form").attr("data-state-url");
            var regionId = $(this).val();
            console.log(regionId)

            $.ajax({
                
                url: url,
                data: {
                    'state_of_origin':regionId
                },
               
                success: function (data) {
                    $("#id_lga_state").html(data);
                }
                
            });
        });

        $("#id_state_of_birth").change(function (){
            var url = $("#reg_form").attr("data-origin-url");
            var regionId = $(this).val();
            $.ajax({
                
                url: url,
                data: {
                    'state_of_birth':regionId
                },
               
                success: function (data) {
                    $("#id_lga_of_birth").html(data);
                }
                
            });
        });


        

    </script>

    {% load sweetify %}
    {% sweetify %}
</body>

</html>
