{% extends 'auth/base.html' %}
{% load static %}
{% block title %} Forgot Password {% endblock %}
{% block body %}
	<div class="login-form style-2">
		<div id="forgot-password">
		   <form class="p-a30 dez-form text-center" action="" method="post">
			   {% csrf_token %}
				<h3 class="form-title m-t0">Change Password</h3>
				<div class="dez-separator-outer m-b5">
					<div class="dez-separator bg-primary style-liner"></div>
				</div>
				<p>Enter your new password </p>
				 <div id="infoMessage" style="color:red;"> </div>
			   <!--{{form.as_p}}-->

			   <div id="errors">
				   {% if form.errors %}
				   <ul>
					   {% for field in form %}
					   		{% if field.errors %}
					   			<li>
									<div class="alert alert-danger"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{ field.errors|striptags }}</div>
								</li>
					   		{% endif %}
					   {% endfor %}
				   </ul>
				   {% endif %}
			   </div>
			   <!--{% for field in form %}-->
			    <!--{{field.errors}}-->
			   <!--{% endfor %}-->
				<div class="form-group">
					<input name="new_password1" autocomplete="new-password" required class="form-control" placeholder="New Password" type="password"/>
				</div>
               	<div class="form-group">
					<input name="new_password2" required autocomplete="new-password" class="form-control" placeholder="Confirm New Password" type="password"/>
				</div>
				<div class="form-group text-left"> <a class="site-button outline gray" href="">Back</a>
					<button class="site-button pull-right " type="submit">Change Password</button>
				</div>
			</form>
		</div>
    </div>
{% endblock %}