{% extends "adminPortal/base.html" %}
{% load static %}
{% block body %}
    <form action="#" id="" method="post"  onkeydown="return event.key != 'Enter';" enctype="">
        {% csrf_token %}
        <section class="content">
                {% if form.errors %}
                            <!-- Error messaging -->
                            <div id="errors">
                                <div class="inner">
                                    <ul>
                                        {% for field in form %}
                                            {% if field.errors %}<li><div class="alert alert-danger"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <strong>{{ field.label }}</strong>  {{ field.errors|striptags }}</div></li>{% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                {% endif %}

                    {% if messages %}
                            <ul>
                                {% for message in messages %}
                                <li>
                                    <div class="alert alert-success">
                                         <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                          <strong>{{ message.tags }}</strong>  {{message}}</div>
                                <li>
                                 {% endfor %}
                            </ul>
                        {% endif %}

            <div class="container-fluid" style="">
                <div class="row clearfix">
                    <div class="card" >
                        <div class="header">
                                <h4> CHANGE PASSWORD</h4>
                        </div>
                            <div class="body">
                                <!-- {{form}} -->
                                <div class="row clearfix">
                                        <div class="col-sm-10" style="margin-left: 2%;">
                                            <p><b>OLD PASSWORD</b></p>
                                            <input  class="form-control"  type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
                                            <!-- <input type="password" name="new_password1" > -->
                                        </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-sm-10" style="margin-left: 2%;">
                                        <p><b>NEW PASSWORD</b></p>
                                        <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-sm-10" style="margin-left: 2%;">
                                        <p><b>CONFIRM PASSWORD</b></p>
                                        <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-sm-10" style="margin-left: 1.5em; margin-top: 3em;">
                                            <div class="button-demo">
                                                    <button type="submit" name="submit" class="btn btn-block btn-lg btn-success waves-effect"><h5>SUBMIT</h5></button>
                                            </div>
                                    </div>
                            </div>
                            </div>
                    </div>
            </div>
        </div>
        </section>

                                    
{% endblock %}

